.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}

.zaui-bottom-navigation-item-active .zaui-bottom-navigation-item-icon,
.zaui-bottom-navigation-item-active .zaui-bottom-navigation-item-label {
  color: #F58220 !important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 24px !important;
    color: #F58220 !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    color: #F58220 !important;
     font-size: 24px !important;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background:  #F58220 !important;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin: 0 0 0.6em 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.5rem;   /* ~40px */
  letter-spacing: -0.5px;
}

h2 {
  font-size: 2rem;     /* ~32px */
}

h3 {
  font-size: 1.625rem; /* ~26px */
}

h4 {
  font-size: 1.25rem;  /* ~20px */
}

h5 {
  font-size: 1rem;     /* ~16px */
  font-weight: 500;
}

.zaui-sheet-content.zaui-sheet-content-hug-content {
    z-index: 1000 !important;
    bottom: 55px !important;
}

.tabs {
  display: flex;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1rem;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.tab.active {
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
